
body {
  background: #F9F2DB;
  color: #092935;
  font-size: 50px;
}

h1 {
  color: #0cf7f0;
}

a {
  color: #092935;
}

.info {
  margin: 50px;
}

/*
.logo .uno, .dos, .tres {
  background: #C61561;
}

.logo .dos {
  box-shadow: 0 0 20px #F9F2DB;
}

.logo::before {
  background: #F9F2DB;
}
*/

.name {
  letter-spacing: 8px;
  background-color: red;
  color: orchid;
}

.name:hover {
  color: yellow;
  background-color: blue;
  cursor: pointer;
}
